body {
    margin: 0;
    padding: 0;
    background: #000;
}

p {
    font-size: 11px;
    line-height: 12px;
    text-align: justify;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url(IMG_3922.jpg) no-repeat center;
    background-attachment: fixed;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
    p {
        background-size: contain; /* Resize the background image to fit the screen */
        background-position: top;
        background-attachment: scroll; /* Ensure the background scrolls with the content */
    }
}